* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paragrafos {
    margin: 40px;
    padding: 20px;
}

.parag-principal {
    background-color: #F5F5F5;
}

.parag-secundario {
    background-color: #F0CCE2;
}